<div layout-gt-md="row">
  <panel-widget flex title="Busca por cidades" template="app/views/partials/cidades.html" class="fixed-height-widget" style="height: 30%;"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Temperatura Agora" template="app/views/partials/temperatura.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Temperatura na Semana" template="app/views/partials/chart.html" ></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Nos próximos dias" template="app/views/partials/temperaturaTable.html" ></panel-widget>
</div>